body {
  background-color: black;
  color: lightgrey;
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 100%;
  height: 95%;
  font-size: 5vw;
}

ul {
  list-style-type: none;
}

.center {
  text-align: center;
}

.gratitude {
  text-align: left;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style-type: none;

  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%; /* Required for breaking of long strings without whitespace */
}

.entry {
  font-size: 5vw;
  margin: 1vh;
}

.entrybutton {
  font-size: 10vmin;
  height: 100%;
}

.navbutton {
  font-size: 5vh;
}

.bottomright {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}

.bottomleft {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

#inputgridwaiting {
  height: 28vh;
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row;
}

#inputgridfocus {
  height: 80vh;
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row;
}

.configsection {
  margin: 2vh;
}

.configsection p {
  word-wrap: normal;
}

.big {
  font-size: 10vw;
}

.entry_button {
  font-size: 4vw;
  height: 90%;
  margin-left: 1vh;
}

.history_time {
  font-size: 2.33vw;
}

#export_button {
  font-size: 4vw;
  height: 90%;
}

.download {
  text-decoration: none;
  color: black;
}
